<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="qms-open-hour-heading" data-cy="OpenHourCreateUpdateHeading" qmsTranslate="paperlessqmsApp.openHour.home.createOrEditLabel">
        Create or edit a Open Hour
      </h2>

      <div>
        <qms-alert-error></qms-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" qmsTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.profileBizId" for="field_profileBizId">Profile Biz Id</label>
          <input
            type="number"
            class="form-control"
            name="profileBizId"
            id="field_profileBizId"
            data-cy="profileBizId"
            formControlName="profileBizId"
          />
          @if (editForm.get('profileBizId')!.invalid && (editForm.get('profileBizId')!.dirty || editForm.get('profileBizId')!.touched)) {
            <div>
              @if (editForm.get('profileBizId')?.errors?.required) {
                <small class="form-text text-danger" qmsTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('profileBizId')?.errors?.number"
                qmsTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.startHour" for="field_startHour">Start Hour</label>
          <input type="number" class="form-control" name="startHour" id="field_startHour" data-cy="startHour" formControlName="startHour" />
          @if (editForm.get('startHour')!.invalid && (editForm.get('startHour')!.dirty || editForm.get('startHour')!.touched)) {
            <div>
              @if (editForm.get('startHour')?.errors?.required) {
                <small class="form-text text-danger" qmsTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startHour')?.errors?.number"
                qmsTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.startMin" for="field_startMin">Start Min</label>
          <input type="number" class="form-control" name="startMin" id="field_startMin" data-cy="startMin" formControlName="startMin" />
          @if (editForm.get('startMin')!.invalid && (editForm.get('startMin')!.dirty || editForm.get('startMin')!.touched)) {
            <div>
              @if (editForm.get('startMin')?.errors?.required) {
                <small class="form-text text-danger" qmsTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startMin')?.errors?.number"
                qmsTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.endHour" for="field_endHour">End Hour</label>
          <input type="number" class="form-control" name="endHour" id="field_endHour" data-cy="endHour" formControlName="endHour" />
          @if (editForm.get('endHour')!.invalid && (editForm.get('endHour')!.dirty || editForm.get('endHour')!.touched)) {
            <div>
              @if (editForm.get('endHour')?.errors?.required) {
                <small class="form-text text-danger" qmsTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('endHour')?.errors?.number"
                qmsTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.endMin" for="field_endMin">End Min</label>
          <input type="number" class="form-control" name="endMin" id="field_endMin" data-cy="endMin" formControlName="endMin" />
          @if (editForm.get('endMin')!.invalid && (editForm.get('endMin')!.dirty || editForm.get('endMin')!.touched)) {
            <div>
              @if (editForm.get('endMin')?.errors?.required) {
                <small class="form-text text-danger" qmsTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('endMin')?.errors?.number"
                qmsTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.dayNum" for="field_dayNum">Day Num</label>
          <input type="number" class="form-control" name="dayNum" id="field_dayNum" data-cy="dayNum" formControlName="dayNum" />
          @if (editForm.get('dayNum')!.invalid && (editForm.get('dayNum')!.dirty || editForm.get('dayNum')!.touched)) {
            <div>
              @if (editForm.get('dayNum')?.errors?.required) {
                <small class="form-text text-danger" qmsTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dayNum')?.errors?.number"
                qmsTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.enable" for="field_enable">Enable</label>
          <input type="checkbox" class="form-check" name="enable" id="field_enable" data-cy="enable" formControlName="enable" />
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.modifiedDate" for="field_modifiedDate">Modified Date</label>
          <input
            type="number"
            class="form-control"
            name="modifiedDate"
            id="field_modifiedDate"
            data-cy="modifiedDate"
            formControlName="modifiedDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" qmsTranslate="paperlessqmsApp.openHour.createdDate" for="field_createdDate">Created Date</label>
          <input
            type="number"
            class="form-control"
            name="createdDate"
            id="field_createdDate"
            data-cy="createdDate"
            formControlName="createdDate"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span qmsTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span qmsTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
