@if (openHour) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(openHour.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="openHourDeleteDialogHeading" qmsTranslate="entity.delete.title">Confirm delete operation</h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <qms-alert-error></qms-alert-error>
      <p id="qms-delete-openHour-heading" qmsTranslate="paperlessqmsApp.openHour.delete.question" [translateValues]="{ id: openHour.id }">
        Are you sure you want to delete Open Hour {{ openHour.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span qmsTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="qms-confirm-delete-openHour" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span qmsTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
