<div>
  <h2 id="page-heading" data-cy="QueueTerminalHeading">
    <span qmsTranslate="paperlessqmsApp.queueTerminal.home.title">Queue Terminals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span qmsTranslate="paperlessqmsApp.queueTerminal.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-queue-terminal"
        [routerLink]="['/queue-terminal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span qmsTranslate="paperlessqmsApp.queueTerminal.home.createLabel">Create a new Queue Terminal</span>
      </button>
    </div>
  </h2>

  <qms-alert-error></qms-alert-error>

  <qms-alert></qms-alert>

  <qms-filter [filters]="filters"></qms-filter>

  @if (queueTerminals?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span qmsTranslate="paperlessqmsApp.queueTerminal.home.notFound">No Queue Terminals found</span>
    </div>
  }

  @if (queueTerminals && queueTerminals.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr qmsSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" qmsSortBy="id">
              <div class="d-flex">
                <span qmsTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="profileBizId">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.profileBizId">Profile Biz Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="name">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="enable">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.enable">Enable</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="orderNum">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.orderNum">Order Num</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="createdDate">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="modifiedDate">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.modifiedDate">Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" qmsSortBy="queueDepartment.id">
              <div class="d-flex">
                <span qmsTranslate="paperlessqmsApp.queueTerminal.queueDepartment">Queue Department</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (queueTerminal of queueTerminals; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/queue-terminal', queueTerminal.id, 'view']">{{ queueTerminal.id }}</a>
              </td>
              <td>{{ queueTerminal.profileBizId }}</td>
              <td>{{ queueTerminal.name }}</td>
              <td>{{ queueTerminal.enable }}</td>
              <td>{{ queueTerminal.orderNum }}</td>
              <td>{{ queueTerminal.createdDate }}</td>
              <td>{{ queueTerminal.modifiedDate }}</td>
              <td>
                @if (queueTerminal.queueDepartment) {
                  <div>
                    <a [routerLink]="['/queue-department', queueTerminal.queueDepartment.id, 'view']">{{
                      queueTerminal.queueDepartment.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/agent']"
                    [queryParams]="{ 'filter[queueTerminalId.in]': queueTerminal.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      qmsTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('paperlessqmsApp.queueTerminal.agent' | translate) }"
                      >Show Agent</span
                    >
                  </button>
                  <a [routerLink]="['/queue-terminal', queueTerminal.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" qmsTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/queue-terminal', queueTerminal.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" qmsTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(queueTerminal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" qmsTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (queueTerminals && queueTerminals.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <qms-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></qms-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
